.notice:has(.notelink-status-error.notice) {
    background: #c10000;
    color: white
}

.notice:has(.notelink-status-info) {
    background: hsl(204, 86%, 53%);
    color: white
}

.notice:has(.notelink-status-success) {
    background: #629762;
    color: white
}

.notice:has(.notelink-status-success) a {
    color: white;
    text-decoration: underline;
}

.notelink-icons {
    display: flex;
}

.notelink-icons>span {
    display: flex;
    margin-left: 6px;
    cursor: pointer;
}